@model DontPanic.Models.EventsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@foreach (var e in Model.Events)
{
    @e.Subject
    <br />
    @e.Start
    <br />
    @e.End
    <br />
    @e.ShowAs
    <hr />
}

